In [1]:
10 * 20

200

In [1]:
a = 10
b = 20
name = "Aliya"
city = "lucknow"

# operators
- arithmetic
- assigment
- comparison
- logical
- membership
- identity

In [2]:
# + - * / % // **
x = 10
y = 3
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y) # remainder
print(x // y) # floor division
print(x ** y) # x to the power of y

13
7
30
3.3333333333333335
1
3
1000

In [3]:
# = += -= *= /= %= //= **=
a = 10
b = a + 20
c = a + b
c = c + 30
c += 30
c -= 10
print(c)
print(b)
print(a)

90
30
10

In [4]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)
print(a == b)

False
True
False
True
True
False

In [5]:
a > b and a < b

False

In [7]:
print(a > b and a < b)
print(a > b and a < b)
print(a < b and a > b)
print(a < b and a > b)
print(not(a > b and a < b))

False
False
False
False
True

In [20]:
name = "aliya"
print("a" in name)

True

In [19]:
name = "Aliya"
print("A" in name)
print("i" in name)
nums = [10, 20, 30, 40, 50]
print(20 in nums)
print(10 in nums)

True
True
True
True

In [12]:
# is (identity operator)
x = 10
y = 10
print(x is y)

nums = [10,20,30]
nums2 = nums.copy()
print(nums is nums2)

True
False

In [3]:
a = [2,4,6,8,10,12,14,16,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
name = "aliya"
for i in name:
    if i == "y":
     break
print(i,end="")

y

In [6]:
a = [10,30,65,29]
total = 0
for i in a:
    total += i
    print(total)

10
40
105
134

In [15]:
for i, v in enumerate("khushi"):
    print(f'{i}. {v}')

0. k
1. h
2. u
3. s
4. h
5. i

In [14]:
name = ['aliya','khushi','sparsh','aryan']
for 
    print(i)

IndentationError: unexpected indent (3474000773.py, line 2)

In [24]:
name = ['pen','pencil','eraser']
for i,v in enumerate(items):
    if i == 2:
        break 
    print(f'{i}.{v}')

0.pen
1.pencil