In [2]:
10 * 20

200

In [3]:
245 * 34

8330

In [11]:
a = 10
b = 20
name = "Aliya"
city = "lucknow"
print(a,b)

10 20

# operators
- arithmetic
- assigment
- comparison
- logical
- membership
- identity

In [1]:
# + - * / % // **
x = 10
y = 3
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y) # remainder
print(x // y) # floor division
print(x ** y) # x to the power of y

13
7
30
3.3333333333333335
1
3
1000

In [2]:
# - + / * // % **
a = 20
b = 4
print(a-b)
print(a+b)
print(a/b)
print(a*b)
print(a//b) #floor division
print(a%b) #remainder
print(a**b) #a to the power of y

16
24
5.0
80
5
0
160000

In [4]:
# = += -= *= /= %= //= **=
a = 10
b = a + 20
c = a + b
c = c + 30
c += 30
c -= 30
print(c)
print(b)
print(a)

70
30
10

In [4]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)
print(a == b)

False
True
False
True
True
False

In [5]:
a > b and a < b

False

In [6]:
print(a > b and a < b)
print(a > b and a < b)
print(a < b and a > b)
print(a < b and a > b)
print(not(a > b and a < b))

False
False
False
False
True

In [20]:
name = "aliya"
print("a" in name)

True

In [19]:
name = "Aliya"
print("A" in name)
print("i" in name)
nums = [10, 20, 30, 40, 50]
print(20 in nums)
print(10 in nums)

True
True
True
True

In [12]:
# is (identity operator)
x = 10
y = 10
print(x is y)

nums = [10,20,30]
nums2 = nums.copy()
print(nums is nums2)

True
False

In [3]:
a = [2,4,6,8,10,12,14,16,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16
18
20

In [8]:
x = [1,3,5,7,9,13,15,17,19]
for i in x:
    if i == 20:
        break
    print(i)

1
3
5
7
9
13
15
17
19

In [13]:
name = "aliya"
for i in name:
    if i == "y":
        break
print(i,end="")

y

In [6]:
a = [10,30,65,29]
total = 0
for i in a:
    total += i
    print(total)

10
40
105
134

In [14]:
for i, v in enumerate("khushi"):
    print(f'{i}.{v}')

0.k
1.h
2.u
3.s
4.h
5.i

In [15]:
name = ['aliya','khushi','sparsh','aryan']
for i,v in enumerate(name):
    print(name)

['aliya', 'khushi', 'sparsh', 'aryan']
['aliya', 'khushi', 'sparsh', 'aryan']
['aliya', 'khushi', 'sparsh', 'aryan']
['aliya', 'khushi', 'sparsh', 'aryan']

In [22]:
name = ['pen','pencil','eraser']
for i,v in enumerate(name):
    if i == 3:
        break 
    print(f'{i}.{v}')

0.pen
1.pencil
2.eraser