DICTIONARY 
- how to declare it
- how to access key and value of a dictionary
- how to use loops in dictionary

In [ ]:
student = {
    "name" : "kavya",
    "class" : "12th",
    "roll_no" : 202,
    "age"  :  17
}
print(student)

In [ ]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' :   [30,35,40],
    'chennai' : [24,23,22],
}
print(temp)

In [ ]:
info = dict(name='kavya',age=24,dept='HR',salary=30000)
print(info)

In [ ]:
info2=dict(name=input("enter the name"),age=int(input("enter the age")),dept=input("enter the depthment"),salary=int(input("enter the salary")))
print(info2)

In [ ]:
#1st method
print(student['name'])
print(student['roll_no'])

In [ ]:
#2nd method
print(student.get('name'))
print(student.get('roll_no'))

In [ ]:
#to add item in a dictionary
student['school'] = 'dps'
student['city'] = 'lucknow'
print(student)

In [ ]:
for x in student:
    print(x)

In [ ]:
for k,v in student.items():
    print(f'{k}:{v}')

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

In [ ]:
# nested dictionary
company = {
    'emp001' : {
        'name' : 'kavya',
        'age' : 25,
        'dept' : 'finance',
        'roll_no' : 203,
        'salary' : 30000
    },
    'emp002': {
        'name': 'ekta',
        'age': 19,
        'dept': 'HR',
        'roll_no':200,
        'salary':30000
    },
    'emp003': {
        'name': 'aryan',
        'age': 22,
        'dept': 'IT',
        'roll_n0': 204,
        'salary': 25000
    }
}
print(company)

In [ ]:
from pprint import pp

In [ ]:
pp(company)

In [ ]:
print(company['emp002']['dept'])

In [ ]:
print(company['emp001']['name'])

In [ ]:
company['emp004'] = {
    'name':'khush',
    'age':18,
    'roll_no':200,
    'dept':'HR',
    'salary':45000
}
pp(company)

In [ ]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

In [ ]:
print('average temperature in delhi :', sum(temp['delhi'])/len(temp['delhi']) )

In [ ]:
report = {
    'Alex': {
        'English':80,
        'maths':85,
        'hindi':90,
        'total_marks':255
        
    },
    'Rahul': {
        'English':80,
        'maths':85,
        'hindi':90,
        'total_marks':255
    },
}
pp(report)