DICTIONARY 
- how to declare it
- how to access key and value of a dictionary
- how to use loops in dictionary

In [1]:
student = {
    "name" : "kavya",
    "class" : "12th",
    "roll_no" : 202,
    "age"  :  17
}
print(student)

{'name': 'kavya', 'class': '12th', 'roll_no': 202, 'age': 17}

In [2]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' :   [30,35,40],
    'chennai' : [24,23,22],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [3]:
info = dict(name='kavya',age=24,dept='HR',salary=30000)
print(info)

{'name': 'kavya', 'age': 24, 'dept': 'HR', 'salary': 30000}

In [4]:
info2=dict(name=input("enter the name"),age=int(input("enter the age")),dept=input("enter the depthment"),salary=int(input("enter the salary")))
print(info2)

{'name': 'kavya', 'age': 23, 'dept': 'HR', 'salary': 30000}

In [5]:
#1st method
print(student['name'])
print(student['roll_no'])

kavya
202

In [6]:
#2nd method
print(student.get('name'))
print(student.get('roll_no'))

kavya
202

In [7]:
#to add item in a dictionary
student['school'] = 'dps'
student['city'] = 'lucknow'
print(student)

{'name': 'kavya', 'class': '12th', 'roll_no': 202, 'age': 17, 'school': 'dps', 'city': 'lucknow'}

In [8]:
for x in student:
    print(x)

name
class
roll_no
age
school
city

In [9]:
for k,v in student.items():
    print(f'{k}:{v}')

name:kavya
class:12th
roll_no:202
age:17
school:dps
city:lucknow

In [10]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'city'])
dict_values(['kavya', '12th', 202, 17, 'dps', 'lucknow'])
dict_items([('name', 'kavya'), ('class', '12th'), ('roll_no', 202), ('age', 17), ('school', 'dps'), ('city', 'lucknow')])

In [12]:
# nested dictionary
company = {
    'emp001' : {
        'name' : 'kavya',
        'age' : 25,
        'dept' : 'finance',
        'roll_no' : 203,
        'salary' : 30000
    },
    'emp002': {
        'name': 'ekta',
        'age': 19,
        'dept': 'HR',
        'roll_no':200,
        'salary':30000
    },
    'emp003': {
        'name': 'aryan',
        'age': 22,
        'dept': 'IT',
        'roll_n0': 204,
        'salary': 25000
    }
}
print(company)

{'emp001': {'name': 'kavya', 'age': 25, 'dept': 'finance', 'roll_no': 203, 'salary': 30000}, 'emp002': {'name': 'ekta', 'age': 19, 'dept': 'HR', 'roll_no': 200, 'salary': 30000}, 'emp003': {'name': 'aryan', 'age': 22, 'dept': 'IT', 'roll_n0': 204, 'salary': 25000}}

In [10]:
from pprint import pp

In [13]:
pp(company)

{'emp001': {'name': 'kavya',
            'age': 25,
            'dept': 'finance',
            'roll_no': 203,
            'salary': 30000},
 'emp002': {'name': 'ekta',
            'age': 19,
            'dept': 'HR',
            'roll_no': 200,
            'salary': 30000},
 'emp003': {'name': 'aryan',
            'age': 22,
            'dept': 'IT',
            'roll_n0': 204,
            'salary': 25000}}

In [14]:
print(company['emp002']['dept'])

HR

In [15]:
print(company['emp001']['name'])

kavya

In [16]:
#add a new dictionary
company['emp004'] = {
    'name':'khush',
    'age':18,
    'roll_no':200,
    'dept':'HR',
    'salary':45000
}
pp(company)

{'emp001': {'name': 'kavya',
            'age': 25,
            'dept': 'finance',
            'roll_no': 203,
            'salary': 30000},
 'emp002': {'name': 'ekta',
            'age': 19,
            'dept': 'HR',
            'roll_no': 200,
            'salary': 30000},
 'emp003': {'name': 'aryan',
            'age': 22,
            'dept': 'IT',
            'roll_n0': 204,
            'salary': 25000},
 'emp004': {'name': 'khush',
            'age': 18,
            'roll_no': 200,
            'dept': 'HR',
            'salary': 45000}}

In [18]:
print('average temperature in delhi :', sum(temp['delhi'])/len(temp['delhi']) )

average temperature in delhi : 35.0

In [25]:
report = {
    'Alex': {
        'English':80,
        'maths':85,
        'hindi':90  
    },
    'Rahul': {
        'English':80,
        'maths':85,
        'hindi':90
    }
}
pp(report)

{'Alex': {'English': 80, 'maths': 85, 'hindi': 90},
 'Rahul': {'English': 80, 'maths': 85, 'hindi': 90}}

In [4]:
for student, marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print('->', subject, mark)
    print('-> total marks :', sum(marks.values()))

Alex
-> English 80
-> maths 85
-> hindi 90
-> total marks : 255
Rahul
-> English 80
-> maths 85
-> hindi 90
-> total marks : 255