In [2]:
print("hello , I am aliya")

hello , I am aliya

In [5]:
print("once upon a time")
print ("there was a monkey")
print("sitting on tree")
print("to be continued")

once upon a time
there was a monkey
sitting on tree
to be continued

In [4]:
a = 10
b = 20
c = a * b
print(a,b,c)
print(a, "*", b, "=",c)

10 20 200
10 * 20 = 200

In [8]:
name = "kavya"
age = 25
job = "SDE 1"
print("Name:",name,", Age:",age," ,JOB:", job)

Name: kavya , Age: 25  ,JOB: SDE 1

In [9]:
print("Name:" , name)
print("Age:" , age)
print("JOB:" , job)

Name: kavya
Age: 25
JOB: SDE 1

In [16]:
p = 120000
r =2.5
t = 10
si = p*r*t/100
print(si)
print("simple interest calculator")
print(f'principle={p}')
print(f'rate={r}')
print(f'time = {t}')
print(f'simple interest = {si}')

30000.0
simple interest calculator
principle=120000
rate=2.5
time = 10
simple interest = 30000.0

In [27]:
print("simple interest calculator")
print("-"*30)
print(f'principle {p//1000:15}K')
print(f'rate {r:20}%')
print(f'time {t:20}yrs')
print("-"*30)
print(f'simple interest   {si/1000:9}K')
print("-"*30)

simple interest calculator
------------------------------
principle             120K
rate                  2.5%
time                   10yrs
------------------------------
simple interest        30.0K
------------------------------

In [7]:
p = 14000
r = 1.7
t = 10
si = p*r*t/1000
print(si)
print("simpke interest calculator")
print(f'principle={p}')
print(f'rate={r}')
print(f'time={t}')
print(f'simple interest={si}')

238.0
simpke interest calculator
principle=14000
rate=1.7
time=10
simple interest=238.0

In [35]:
fav_movie = input("Plz enter fav movie")
print(fav_movie)
print("you may like it")

kalki
you may like it

In [12]:
fav_movie = input("please enter the fav movie")
print(fav_movie)
print("you are the best father")

kalki
you are the best father

In [32]:
a = input("enter a number")
b = int(input("enter another number"))
print("result is")
print(a + b)

result is
1010

In [10]:
# if elif ladder
marks=90
if marks>85:
    grade='A' 
elif marks>70:
    grade='B' 
elif marks>60:
    Grade='C'  
elif marks>50:
      grade='D'
else:
     grade='f'     
print(f"grade is{grade}")

grade isA

In [2]:
# match case (not similar to switch case)
print("What would you like to eat")
print("menu")
print("1. Pizza")
print("2. momo")
print("enter a number")
ch = int(input(">>>"))
match ch:
     case 1: 
          print("Your order is Pizza \n total amt = 400")
     case 2:
          print("Your order is momo \n total amt = 340")
     case _:
          print("Invalid choice")

What would you like to eate
menu
1. Pizza
2. momo
enter a number

In [20]:
# nested if else
un = input('enter a username')
pw = input('enter a password')
if un != 'admin':
      if un == 'admin':
         if pw == 'admin':
            print("welcome, admin")
         else:
            print("wrong password")   
      else:           
            print("Invalid username")
else:      
      print("enter valid details")

Invalid username

In [7]:
for i in range(6):
    print("aliya")

aliya
aliya
aliya
aliya
aliya
aliya

In [22]:
for i in range(12):
    print('aryan')

aryan
aryan
aryan
aryan
aryan
aryan
aryan
aryan
aryan
aryan
aryan
aryan

In [8]:
# using loop
a = "hello word"
for x in a:
    print(x)

h
e
l
l
o

w
o
r
d

In [11]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [12]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range(31):
    if i%2!= 0:
          print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

IndentationError: expected an indented block after 'if' statement on line 2 (3273865747.py, line 3)

In [28]:
# whileloop
i=0
while i<= 100:
  print("I can do it")
  print(i)

IndentationError: unexpected indent (1772773303.py, line 2)

In [1]:
a = [2,4,6,8,10]
lst= []
for i in a:
       lst.append(i**2)
print(lst)

[4, 16, 36, 64, 100]

In [1]:
x = [2,4,5,6,8,10]
lst = []
for i in x:
    lst.append(i**3)
    print(lst)

[8]
[8, 64]
[8, 64, 125]
[8, 64, 125, 216]
[8, 64, 125, 216, 512]
[8, 64, 125, 216, 512, 1000]