### PYTHON DATATYPE
- int          | -1 10 -28            |integer
- float        | -2 1.3 -2.3 1.5010   |float
- bool         | true flase           |boolean
- str          | 'hello','hello'      |string
- none type    | none                 |no value
- list         | []  [1,2,3]          | similar to arry
- tuple        | [] {1,2,3}           | similar to arry
- dict         | {'a'1 apple}         | similar to hash

In [1]:
print("once upon a time")
print("There ws a monkey")
print("sitting on a trees")
print("to be continued")

once upon a time
There ws a monkey
sitting on a trees
to be continued

In [4]:
a = 20
b = 10
c = a * b
print(a,b,c)
print(a, "*", b,"*",c)

20 10 200
20 * 10 * 200

In [5]:
print("Hello, I am aliya")

Hello, I am aliya

In [7]:
name = 'umang'
age = 21
job = 'HR'
print("name:",name,"age:",age,"job:",job)

name: umang age: 21 job: HR

In [8]:
print("Name:",name)
print("Age:",age)
print("job:",job)

Name: umang
Age: 21
job: HR

In [9]:
p = 120000
r = 2.5
t = 10
si = p*r*t/100
print("simple interest calculator")
print("ðŸ“ƒ"*11)
print(f'principles = {p}')
print(f'rate = {r}')
print(f'time = {t}')
print("ðŸ“ƒ"*10)
print(f'simple interest = {si}')

simple interest calculator
ðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒ
principles = 120000
rate = 2.5
time = 10
ðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒðŸ“ƒ
simple interest = 30000.0

In [10]:
print("simple interest calculator")
print("-"*30)
print(f'principles = {p//1000:15}k')
print(f'rate = {r:20}%')
print(f'time = {t:20}yrs')
print("-"*30)
print(f'simple interest = {si/1000:3}k')
print("-"*30)

simple interest calculator
------------------------------
principles =             120k
rate =                  2.5%
time =                   10yrs
------------------------------
simple interest = 30.0k
------------------------------

In [1]:
fav_movies = input("pls enter the movie")
print(fav_movies)
print("You may like it but I don't care")

kalki
You may like it but I don't care

In [5]:
a = input("enter the no.")
b = input("enter the no.")
print("result is")
print(a+b)

result.is
2334

In [4]:
a = (input("enter a no."))
b = (input("enter a no."))
a = int(a)
b = int(b)
type(a)
type(b)
print(a+b)

45

In [6]:
pi = 3.14
r = 3
area = 4*pi*r**2
print("area of sphere is",area)

area of sphere is 113.04