In [1]:
#for loops (list)
fruits = ['apple','mango','banana','kiwi','grapes']
for x in fruits:
    print(x)

apple
mango
banana
kiwi
grapes

In [2]:
#for loop (string)
a = "Hello World"
for x in a:
    print(x, end="") # to print in a horizontal way we use end

Hello World

In [7]:
a = "Hello world"
for x in a:
    print(x, end="ðŸ˜Š")

HðŸ˜ŠeðŸ˜ŠlðŸ˜ŠlðŸ˜ŠoðŸ˜Š ðŸ˜ŠwðŸ˜ŠoðŸ˜ŠrðŸ˜ŠlðŸ˜ŠdðŸ˜Š

In [8]:
#to print numbers using for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [11]:
# name = 'aliya chauhan
for i in range(1,6):
    print("aliya chauhan")

aliya chauhan
aliya chauhan
aliya chauhan
aliya chauhan
aliya chauhan

In [12]:
#to print numbers using gap (start,end,gap)
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [13]:
#to print even numbers from o to 30
for i in range(0,30,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [16]:
#print odd number
for i in range(31):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [17]:
# while loop
i = 0
while i<=20:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [18]:
#to print name using while loop
i = 0 
while i<5:
    print("I can do it, I am the best")
    i += 1

I can do it, I am the best
I can do it, I am the best
I can do it, I am the best
I can do it, I am the best
I can do it, I am the best

In [3]:
#print table
a = 15
i = 1
for i in range(1,11):
    print(f'{a} * {i} = {a*i}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [4]:
a = 15
for i in range(5,12):
    print(f'{a}*{i} + {5*i}')

15*5 + 25
15*6 + 30
15*7 + 35
15*8 + 40
15*9 + 45
15*10 + 50
15*11 + 55

In [7]:
# break statement
a = [2,4,6,8,10,12,14,16,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16
18
20

In [8]:
# continue statement
a = [2,4,6,8,10,12,14,16,18,20]
for i in a:
    if i == 17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
# printfirst 3 character of your name
name = 'aliya'
for i in name:
    if i =='y':
        break
print(i, end="")

y

In [11]:
# sum
a = [10,20,30,40]
total = 0
for i in a :
    total += i
print(total)

100

In [13]:
names = ['aliya','deepakshi','bhai','maapapa']
for i in names:
    print(i)

aliya
deepakshi
bhai
maapapa

In [14]:
for i, v in enumerate(names):
    print(f'{i}.{v}')

0.aliya
1.deepakshi
2.bhai
3.maapapa

In [17]:
items = ['pen','pencil','sharpner','scale']
for i, v in enumerate(items):
    if i == 5:
        break
    print(f'{i}.{v}')

0.pen
1.pencil
2.sharpner
3.scale